
<%= form_for @items do |f| %>

<h1>Showing all items</h1>

  <%= f.text_field :name %>
  <%= f.text_field :price %>

  <%= f.submit %>
  <%= link_to "go to edit item 1", edit_item_path(id: 1) %>
<% end %>
